n8n_workflow.json
{
  "name": "Backpack Volume Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,20 * * *"
            }
          ]
        }
      },
      "id": "schedule-morning-evening",
      "name": "Schedule (8 AM & 8 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "python n8n_tracker.py"
      },
      "id": "execute-python",
      "name": "Execute Python Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// If there's an error, send error message\nif (data.status === 'error') {\n  return {\n    json: {\n      message: `⚠️ **Backpack Volume Tracker Error**\\n\\n` +\n               `${data.message}\\n\\n` +\n               `Check your Python script and API connection.`\n    }\n  };\n}\n\n// Format success message\nconst volume = data.current.rank_1000_volume;\nconst volumeFormatted = `$${(volume / 1000000).toFixed(2)}M`;\nconst score = data.analysis.difficulty_score;\nconst change = data.analysis.volume_change_percent;\nconst recommendation = data.analysis.recommendation;\nconst user = data.current.user_at_rank_1000;\n\nlet emoji = '🎯';\nif (score < 80) emoji = '🎯';\nelse if (score < 95) emoji = '✅';\nelse if (score < 105) emoji = '➖';\nelse if (score < 120) emoji = '⚠️';\nelse emoji = '🔴';\n\nreturn {\n  json: {\n    message: `${emoji} **Backpack Volume Alert**\\n\\n` +\n             `${recommendation}\\n\\n` +\n             `📊 **Current Rank 1000:** ${volumeFormatted}\\n` +\n             `👤 **User:** ${user}\\n` +\n             `📈 **Difficulty Score:** ${score}/100\\n` +\n             `📉 **Change:** ${change > 0 ? '+' : ''}${change}%\\n\\n` +\n             `You need **more than ${volumeFormatted}** in trading volume to be in the top 1000.`\n  }\n};"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule (8 AM & 8 PM)": {
      "main": [
        [
          {
            "node": "Execute Python Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python Script": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "backpack-tracker"
}
